@charset "UTF-8";

@media screen and (min-width: 768px) {

    header > h1{
        padding-top: 30px;
    }

    span#burger{
        display: none;
    }

    nav{
        display: block;
    }
       
    nav > ul > li {
        display: inline-block;
    }
    
   nav > ul > li > a {
        border-bottom: none;
        padding: 10px 10px 10px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.162);
    }

    main{
        width:600px;
        display: block;
        margin: auto;
    }

    main article p{
        line-height: 1.5em;
    }

    main article img{
        width: 320px;
    }
    
}

@media screen and (min-width: 1000px) {
    main{
        width: 800px;
    }
    img{
        width: 640px;
    }
}
