@charset "UTF-8";

:root{
    --farbe1: rgb(162, 218, 124);
    --farbe2: rgb(73, 101, 55);
    --farbe3: rgb(62, 87, 47);
    --farbe4: rgb(224, 235, 224);
    --farbe5: rgb(61, 85, 46);
    --farbe6: rgb(95, 132, 72);
}

header h1, nav > ul > li > a, footer#rodape, footer a{
    color: var(--farbe4);
}

footer a:hover{
    color: #E92505;
}
