@charset "UTF-8";

:root{
    --farbe1: #9ab85898;
    --farbe2: #41650B;
    --farbe3: #345208;
    --farbe5: #4f7634;
    --farbe6: rgba(79, 118, 52, 0.342);

}

header h1, span#burger, footer#rodape, footer#rodape a{
    color: #CCF5B2;
}

span#burger:hover{
    color: var(--farbe3);
}

footer#rodape a:hover{
    color: #E13D00;
}
